# Logs
# Ignora arquivos de log gerados por diversas ferramentas e pelo sistema.
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Módulos de dependências do Node.js
# Ignora a pasta 'node_modules', que contém as dependências do projeto.
node_modules/

# Saída da compilação e arquivos temporários do frontend
# Ignora as pastas de build e arquivos locais/temporários.
dist/
dist-ssr/
*.local

# Diretórios e arquivos de configuração de editores/IDEs
# Ignora arquivos específicos de editores (VS Code, IntelliJ IDEA) e do sistema.
.vscode/
!.vscode/extensions.json # Mantém o arquivo de extensões recomendadas do VS Code.
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variáveis de ambiente do backend
# Garante que o arquivo .env específico da pasta 'backend' não seja versionado.
/backend/.env