# backend/.gitignore

# Node modules do backend
node_modules/

# Variáveis de ambiente do backend
.env
.env.local
.env.*.local

# Logs gerados pelo backend (se houver)
npm-debug.log*
yarn-debug.log*
*.log